{% extends "basic.html"%} {% block head%}

<title>Nifty</title>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='styles/nifty.css')}}"
/>
{% endblock %} {% block content%}
<body>
  <main>
    <section>
      <div class="info">
        <p>NIFTY 50</p>
      </div>
    </section>
    <section>
      <div class="chart">{{chart|safe}}</div>
    </section>
  </main>
</body>
<script>
  // select the element with data-title="Pan"
  var pan = document.querySelector('[data-title="Pan"]');
  // activate the pan tool
  pan.click();
  
</script>
{% endblock %}
