{% extends "basic.html"%} {%block head%}
<title>{{user.username}}'s Profile</title>

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='styles/profile.css')}}"
/>

{%endblock%}
 {% block content%}
<body>
  <div class="container">
    <div class="profile-header">
      <div class="profile-img">
        <img src="https://avatars.dicebear.com/api/gridy/{{user.username}}.svg?margin=16" width="200" alt="Profile Image" />
      </div>
      <div class="profile-nav-info">
        <h3 class="user-name">{{user.username}}</h3>
        <div class="email">
          <p>{{user.email}}</p>
        </div>
      </div>
    </div>
   
    <div class="main-bd">
      <div class="left-side">
        <div class="profile-side">
         
          <div class="user-bio">
            <h3>bio</h3>
            <form  method="POST">
              <input
              name="bio"
              id="bio"
                type="text"
              />
            </form>
            <p class="bio">
             
            </p>
          </div>
        </div>
      </div>
        <div class="profile-body"> 
          <div class="card">
            
            <p>Type</p><p>Query</p><p>Date and Time</p>
        
       </div>
          {% for card in user.cards %}
          <div class="card">
            
               <span>{{card.type}}</span><span>{{card.query}}</span><span>{{card.date}}</span>
           
          </div>
         {% endfor %}
          
         </div>
      </div>
    </div>
  </div>
  <!-- partial -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <!-- <script src="../static/scripts/portfolio.js"></script> -->
  <script> document.getElementById("form").addEventListener("keyup", function (event) {
    if (event.keyCode === 13) {
      document.getElementById("form").submit();
      return false;
    }
  });</script>
</body>
{%endblock%}