{% extends "basic.html"%} {%block head%}
<title>{{user.username}}'s Profile</title>

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='styles/profile.css')}}"
/>

{%endblock%}
 {% block content%}
<body>
  <div class="container">
    <div class="profile-header">
      <div class="profile-img">
        <img src="https://avatars.dicebear.com/api/gridy/{{user.email}}.svg?margin=16" width="200" alt="Profile Image" />
      </div>
      <div class="profile-nav-info">
        <h3 class="user-name">{{user.username}}</h3>
        <div class="email">
          <p>{{user.email}}</p>
        </div>
      </div>
    </div>
   
    <div class="main-bd">
      <div class="left-side">
        <div class="profile-side">
         
          <div class="user-bio">
            <h3>bio</h3>
            <p class="bio">
hi
            </p>
          </div>
        </div>
      </div>
        <div class="profile-body"> 
          <div class="card">
            <p>
              Type|Input|Time
            </p>
          </div>
          {% for card in user.cards %}
          <div class="card">
            <p>
              {{card.type}}|{{card.query}}|{{card.date}}
            </p>
          </div>
         {% endfor %}
          
         </div>
      </div>
    </div>
  </div>
  <!-- partial -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <!-- <script src="../static/scripts/portfolio.js"></script> -->
</body>
{%endblock%}